
build/
Out/
Debug/
Release/
*.elf
*.hex
*.bin
*.map
*.o
*.a
*.mxproject
*.bak
.vscode/
Thumbs.db
desktop.ini
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.d
.settings/
!nanoedge_ai_lib/libneai.a